.lastwork__title {
  padding: 0 15px;
  margin-top: 60px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.lastwork__box {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  max-width: 1360px;
  width: 100%;
  height: 1040px;
  margin: 0;
  color: #FFFFFF;
}
.lastwork__box button {
  max-width: 106px;
  width: 100%;
  height: 28px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 21px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}
@media (max-width: 580px) {
  .lastwork__box button {
    display: none;
  }
}

.card__1 {
  background-image: url(/assets/imgPageFirst/img/card_1.png);
}

.card__2 {
  background-image: url(/assets/imgPageFirst/img/card_2.png);
}

.card__3 {
  background-image: url(/assets/imgPageFirst/img/card_3.png);
}

.card__4 {
  background-image: url(/assets/imgPageFirst/img/card_4.png);
}

.card__5 {
  background-image: url(/assets/imgPageFirst/img/card_5.png);
}

.card__6 {
  background-image: url(/assets/imgPageFirst/img/card_6.png);
}

.card__7 {
  background-image: url(/assets/imgPageFirst/img/card_7.png);
}

.card__8 {
  background-image: url(/assets/imgPageFirst/img/card_8.png);
}

.card__1,
.card__2,
.card__3,
.card__4,
.card__5,
.card__6,
.card__7,
.card__8 {
  position: relative;
  max-width: 21.53vw;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  z-index: -2;
}
.card__1 .card__info,
.card__2 .card__info,
.card__3 .card__info,
.card__4 .card__info,
.card__5 .card__info,
.card__6 .card__info,
.card__7 .card__info,
.card__8 .card__info {
  position: absolute;
  right: 8px;
  top: 16px;
  width: 81px;
  height: 64px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.card__1 .card__title,
.card__2 .card__title,
.card__3 .card__title,
.card__4 .card__title,
.card__5 .card__title,
.card__6 .card__title,
.card__7 .card__title,
.card__8 .card__title {
  position: absolute;
  bottom: 122px;
  left: 20px;
  margin: 0 auto;
  max-width: 270px;
  width: 100%;
  height: 27px;
  font-weight: 700;
  font-size: 18px;
}
.card__1 .card__cost,
.card__2 .card__cost,
.card__3 .card__cost,
.card__4 .card__cost,
.card__5 .card__cost,
.card__6 .card__cost,
.card__7 .card__cost,
.card__8 .card__cost {
  position: absolute;
  bottom: 82px;
  left: 20px;
  width: 270px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
.card__1 .card__cost p,
.card__2 .card__cost p,
.card__3 .card__cost p,
.card__4 .card__cost p,
.card__5 .card__cost p,
.card__6 .card__cost p,
.card__7 .card__cost p,
.card__8 .card__cost p {
  font-size: 24px;
  line-height: 36px;
}
.card__1 .card__cost span,
.card__2 .card__cost span,
.card__3 .card__cost span,
.card__4 .card__cost span,
.card__5 .card__cost span,
.card__6 .card__cost span,
.card__7 .card__cost span,
.card__8 .card__cost span {
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 1380px) {
  .card__1 .card__cost span,
.card__2 .card__cost span,
.card__3 .card__cost span,
.card__4 .card__cost span,
.card__5 .card__cost span,
.card__6 .card__cost span,
.card__7 .card__cost span,
.card__8 .card__cost span {
    display: none;
  }
}
.card__1 .card__bar hr,
.card__2 .card__bar hr,
.card__3 .card__bar hr,
.card__4 .card__bar hr,
.card__5 .card__bar hr,
.card__6 .card__bar hr,
.card__7 .card__bar hr,
.card__8 .card__bar hr {
  position: absolute;
  bottom: 64px;
  left: 20px;
  width: 270px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 8px;
  border: none;
}
@media (max-width: 1380px) {
  .card__1 .card__bar,
.card__2 .card__bar,
.card__3 .card__bar,
.card__4 .card__bar,
.card__5 .card__bar,
.card__6 .card__bar,
.card__7 .card__bar,
.card__8 .card__bar {
    display: none;
  }
}
.card__1 .card__name,
.card__2 .card__name,
.card__3 .card__name,
.card__4 .card__name,
.card__5 .card__name,
.card__6 .card__name,
.card__7 .card__name,
.card__8 .card__name {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.main__funds {
  margin-top: 60px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #0C0C0C;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.purchase__row {
  margin-top: 60px;
  justify-content: space-between;
  padding: 40px;
  display: flex;
  width: 1360px;
  height: 504px;
}

.purchase__row:first-child {
  background-image: url(/assets/imgPageFirst/background/bg1_founds.png);
}

.purchase__row:last-child {
  background-image: url(/assets/imgPageFirst/background/bg2_founds.png);
}

.purchase__name {
  width: 230px;
  display: flex;
  flex-wrap: wrap;
}
.purchase__name .purchase__title h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #FFFFFF;
}
.purchase__name .purchase__title span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.purchase__name .purchase__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  color: rgba(255, 255, 255, 0.82);
}

.purchase__container {
  width: 95%;
  margin: 0 auto;
}
.purchase__row {
  display: flex;
  margin-bottom: 3%;
}
.purchase__item {
  width: 21.5%;
  max-width: 310px;
  max-height: 424px;
  background: #FFFFFF;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.13);
  border-radius: 15px;
  margin-right: 3%;
}
.purchase__info {
  display: flex;
  flex-direction: column;
  padding: 7%;
}
.purchase__first {
  display: flex;
  justify-content: space-between;
}
.purchase__prise {
  font-weight: 700;
  font-size: 1.67vw;
  line-height: 36px;
}
.purchase__creater {
  font-weight: 700;
  font-size: 1vw;
  line-height: 24px;
  color: #777777;
}
.purchase__second {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  text-align: end;
}

.text {
  margin-bottom: 60px;
}
.text__container {
  width: 54%;
  margin: 0 auto;
}
.text__inf {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.questions {
  margin-top: 100px;
  align-items: center;
  padding-left: 5%;
}
.questions__container {
  max-width: 1110px;
  width: 77%;
  height: 604px;
}
.questions__answer {
  margin-bottom: 20px;
}
.questions__first {
  font-weight: 500;
  font-size: 2vw;
  line-height: 36px;
  padding-right: 2%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(215, 215, 215);
}
.questions__second {
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 27px;
}
.questions__item {
  font-weight: 500;
  font-size: 2vw;
  line-height: 36px;
  padding-right: 2%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(215, 215, 215);
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */